body{
    /*lettertype*/
    font-family: sans-serif;
    /*achtergrondkleur*/
    background-color:white;
    }
    h1{
    /* onze heading een beetje groter maken */
  
    color: red;
    }
     h2{
    /* onze heading een beetje groter maken */
  
    color: green;
    }
     h3{
    /* onze heading een beetje groter maken */

    color: blue;
    }
    h4{
        /* onze heading een beetje groter maken */
      
        color: black;
        }

